{# {% extends 'partials/base.html' %}#}
{#{% load static %}#}
{##}
{#{% block main_content %}#}
{##}
{##}
{# <!-- Services Section -->#}
{#    <section id="services" class="services section light-background">#}
{##}
{#      <!-- Section Title -->#}
{#      <div class="container section-title" data-aos="fade-up">#}
{#        <h2>Log in</h2>#}
{#        <p>Please log in to access your account and continue working with our tools. Enter your credentials below.</p>#}
{#      </div><!-- End Section Title -->#}
{##}
{#      <div class="container">#}
{#    <form method="post">#}
{#        {% csrf_token %}#}
{#        {{ form.as_p }}#}
{#        <button style="display: inline-block;border-radius: 4px;#}
{# background-color: #388da8;#}
{# border: none;#}
{# color: #FFFFFF;#}
{# text-align: center;#}
{# font-size: 17px;#}
{# padding: 16px;#}
{# width: 130px;#}
{# transition: all 0.5s;#}
{# cursor: pointer;#}
{# margin: 5px;" type="submit">Login</button>#}
{#  </form>#}
{##}
{##}
{#      </div>#}
{##}
{#    </section><!-- /Services Section -->#}
{##}
{# {% endblock %}#}
    <section id="services" class="services section light-background">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Log in</h2>
        <p>Please log in to access your account and continue working with our tools. Enter your credentials below.</p>
      </div><!-- End Section Title -->

      <div class="container">

{% extends "partials/base.html" %}
{% load crispy_forms_tags %}
{% block main_content %}
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Вход</legend>
                {{ form }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" style="display: flex; justify-content: center; align-items: center; padding: 10px 20px; background-color: #388da8; color: white; border: none; border-radius: 6px; cursor: pointer;" type="submit">Login</button>
            </div>
        </form>
        <div class="border-top pt-3">
            <small class="text-muted">
                Нямате акаунт? <a class="ml-2" href="{% url 'register' %}">Регистрирайте се сега</a>
            </small>
        </div>
    </div>
{% endblock %}