<div class="container">
        <div class="row justify-content-between">

          <div class="col-lg-5 d-flex align-items-center">

            <ul class="nav nav-tabs" data-aos="fade-up" data-aos-delay="100">
              <li class="nav-item">
                <a class="nav-link active show" data-bs-toggle="tab" data-bs-target="#features-tab-1">
                  <div>
                    <h1 class="d-none d-lg-block">{{ theme.title }}</h1>
                      {% if theme.subtitle %}
                          <p>{{ theme.subtitle }}</p>
                      {% endif %}
                  </div>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" data-bs-target="#features-tab-2">
                  <div>
                    <h4 class="d-none d-lg-block">{{ theme.content|linebreaks }}</h4>
                    <p>
                        <small>Създадена от {{ theme.creator.username }} на {{ theme.created_date|date:"d.m.Y H:i" }}</small>

                    </p>
                    <div class="mt-3">
                        <a href="{% url 'theme_detail' pk=theme.pk %}" class="btn btn-outline-primary me-2">Към темата</a>
                    </div>
                  </div>
                </a>
              </li>
            </ul><!-- End Tab Nav -->

          </div>

          <div class="col-lg-6">

            <div class="tab-content" data-aos="fade-up" data-aos-delay="200">

              <div class="tab-pane fade active show" id="features-tab-1">
                <img src="{{ theme.banner_image.url }}" alt="" class="img-fluid">
              </div><!-- End Tab Content Item -->

              <div class="tab-pane fade" id="features-tab-2">
                <img src="{{ theme.banner_image.url }}" alt="" class="img-fluid">
              </div><!-- End Tab Content Item -->

              <div class="tab-pane fade" id="features-tab-3">
                <img src="{{ theme.banner_image.url }}" alt="" class="img-fluid">
              </div><!-- End Tab Content Item -->
            </div>

          </div>

        </div>

      </div>
